<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.panikbutton">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EmailPasswordActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/title_about">
        </activity>
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:label="@string/title_profile">
        </activity>
        <activity
            android:name=".ui.profile.user.EditProfileActivity"
            android:label="@string/title_profile">
        </activity>
        <activity
            android:name=".ui.profile.contacts.AddContactActivity"
            android:label="@string/add_contact_title">
        </activity>
        <activity
            android:name=".ui.profile.contacts.EditContactActivity"
            android:label="@string/edit_contact">
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/title_home">
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_settings">
        </activity>
    </application>

</manifest>